body {
    background-color: #373b69;
    margin: 0;
    text-align: center;
}

header h1 {
     color: #111; 
     font-family: 'Helvetica Neue', sans-serif; 
     font-size: 75px; 
     font-weight: bold; 
     letter-spacing: -1px; 
     line-height: 1; 
     text-align: center; 
}

p { 
  color:navajowhite
}

img {
  width: 500px;
  height: 281px;
}

#title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:indianred;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 800;
  font-style: italic;
  -webkit-text-stroke-color: white;
    white-space: nowrap;
}

#name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:indianred;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 800;
  font-style: italic;
  -webkit-text-stroke-color: white;
    white-space: nowrap;
}

#button {
    text-align: center;
    margin: 0 auto;
}

#movie-display {
  flex: 1 1 21rem;
  margin: 50px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

#overview {
  padding: 1rem;
  max-height: 100%;
  color: burlywood;
}

#vote-average {
  background:mediumslateblue;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

#snack-display {
  flex: 1 1 21rem;
  margin: 100px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

#list-comment {
  color: bisque;
}


.card-button {
    align-items: center;
    display: flex;
    position: relative;
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  display: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
    border:none;
    background-color: rgba(194, 46, 26, 0.678);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display:flex;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center; 
    align-items: center;
    cursor: pointer;
  }

  @media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  }
    @media (max-width: 500px) {
        .btn {
          font-size: 0.8rem;
        }
    }